@import url('https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/2.8.0/react-datepicker.min.css');

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family : 'PT Sans', 'sans-serif'
}

.home,
.contact-us,
.sign-up
{
  display:flex;
  height:90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.dt_box
{
  padding-right: 150px !important;
}

.home {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}  


.contact-us {
  background-image: url('./images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('./images/img-7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.navbar {
  background: linear-gradient(90deg, rgb(89, 117, 240) 0%, rgb(107, 206, 231) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
}

.nav-links:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
}
:root {
  --primary: #5757dd;
}

.btn {
  padding :8px 20px;
  border-radius:4px;
  outline: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background-color: var(--primary);
}

.btn_inch
{
  font-size: 1.5rem !important;
  color: #fff !important;
}

.btn:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color:#5757dd;
  border-radius: 4px;
  border: 2px solid var(--primary)

}

/* ----------------------------------------------- */
.white{
  color:rgb(248, 247, 247);
  background-color:#fff;
}

.btn-facebook {
  color: #ffffff;
  -webkit-text-shadow: 0 -1px 0 rgb(248, 246, 246);
  text-shadow: 0 -1px 0 rgb(248, 248, 248);
  background-color: #2b4b90;
  *background-color: #133783;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: #133783 #133783 #091b40;
  border-color: rgb(247, 247, 247) rgb(248, 244, 244) rgb(253, 251, 251);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

  .btn-facebook:hover,
  .btn-facebook:focus,
  .btn-facebook:active,
  .btn-facebook.active,
  .btn-facebook.disabled,
  .btn-facebook[disabled] {
      color: #ffffff;
      background-color: #133783 !important;
      *background-color: #102e6d !important;
  }

  .btn-facebook:active,
  .btn-facebook.active {
      background-color: #0d2456 \9 !important;
  }

  .btn_color
  {
    color:#ffffff !important;
  }

  .loginborder
  {
    border: 2px solid rgb(248, 242, 242);
  }

  .fc {
    height: 550px;
    width: 1284px;
    text-align: center;
    padding-left: 50px;
    padding-top: 12px;
  }

  #calendar-container{
    
}

.fc-header-toolbar {
  /*
  the calendar will be butting up against the edges,
  but let's scoot in the header's buttons
  */
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.sch-modal .modal-header {
  background: #0078d4;
  color: #fff;
  font-weight: bold;
}
.sch-modal .modal-header button.close {
  font-size: 34px;
  color: #fff;
  opacity: 1;
  border: none;
}
.dt_box {
  background-color: hsl(0,0%,100%);
    border-color: hsl(0,0%,80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    height: 35px;
  padding-right: 1px !important;
}

.lb_box {
  background-color: hsl(0,0%,100%);
    border-color: hsl(0,0%,80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    height: 35px;
    width: 100px; 
    margin-left: 20px;
  padding-right: 1px !important;
}

.fc-scrollgrid-section-header {
  background: #0078d4;
  color: #fff;
  font-weight: bold;
}
.fc-button-primary{
  background: #0078d4;
  color: #fff;
  font-weight: bold;
}